:root {
      --zeema-blue:#2196f3;
      --dark-theme:#2F303A;
      --color-white: #FFFFFF;
      --color-gray: #757575;
      --color-onix: #212121;
      --medium-text: 16px;
      --gaps:30px;
      --top-distance: 94px;
}

*, *::after, *::before {
      margin: 0;
}

body {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      letter-spacing: 0.03em;
      color: var(--color-onix);
      background-color: var(--color-white);
      position:relative;
}

/* ---------------General-styles-----------------*/

.container {
      width: 1200px;
      padding: 0 15px;
}

.list {
      list-style: none;
      padding-left: 0;
      display: flex;
}

.link {
      text-decoration: none;
      /* margin: inherit; */
}

.logo {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      color: #000000;
}

.logo .logo-accent {
      color: var(--zeema-blue);
}

.logo.logo-last {
      color: var(--color-white);

}

.section-title {
      font-size: 36px;
      line-height: 1.66;
      text-align: center;
}

.btn {
      font-family: inherit;
      border-radius: 4px;
      border: hidden;
}

.btn:hover, .btn:focus {
      color: var(--color-white);
      background-color: var(--zeema-blue);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
}

.link.menu-link.current {
      color: var(--zeema-blue)
}

img {
      display: block;
      max-width: 100%;
      height: auto;
}

/*---------------Menu-----------------*/

.menu {
      border-bottom: 1px solid #ECECEC;
      
      display: flex;
      justify-content: center;
}

.menu-container {
      display: flex;
}

.menu-logo {
      padding: 24px 0;
      margin-right: 93px;
}

.menu-nav{
      display: flex;
      justify-items: center;
      align-items: center;
      margin-right: 344px;

}

.menu-link {
      font-weight: 500;
      font-size: var(--small-text);
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: inherit;
      padding: 32px 0;
}

.menu-link-list {
      column-gap: 50px;
}

.menu-link:hover, .menu-link:focus {
      color:var(--zeema-blue);
}

.contacts-list {
      align-items: center;
      gap:50px;
}

.contacts-list:first-child {
      column-gap: 50px;
}


.link.contacts-link {
      font-weight: 500;
      font-size: var(--small-text);
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--color-gray);
      padding: 32px 0;
}

.contacts-link:hover, .contacts-link:focus {
      color: var(--zeema-blue);
}

/*-------------Contacts---------------*/

.contacts {
      background-color: var(--dark-theme);
      height: 252px;
      padding-top: 60px;
}

.contacts-container {
      margin-left: 200px;
}

.adress {
      margin-top: 20px;
}

.adress-list {
      flex-direction: column;
      row-gap: 9px;
}

.adress-map {
      font-style: normal;
      color: var(--color-white);
      line-height: 1.71;
}

.adress-link {
      font-style: normal;
      line-height: 1.71;
      color: rgba(255, 255, 255, 0.6);
}
.adress-link:hover, .adress-link:focus {
      color: var(--zeema-blue);
}

/* ----------------------------HOME---------------------------*/

.hero {
      background-color: var(--dark-theme);
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.hero-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* vertical-align: middle; */
}

.hero-title {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      color: var(--color-white);
      text-align: center;
      width: 696px;
}

.hero-btn {
      font-weight: 700;
      font-size: var(--medium-text);
      line-height: 1.88;
      letter-spacing: 0.06em;
      background-color: var(--zeema-blue);
      color: var(--color-white);
      min-width: 216px;
      height: 50px;
      margin-top: var(--gaps);
 }          /* ^ to mentor */

/* -------------------features-------------------- */

.features {
      height: 286px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.features-list {
      /* align-items:center; */
      column-gap: var(--gaps);
}

.features-list li {
      width: 270px;
}

.features-list-title {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.14;
}

.features-list-text {
      line-height: 1.71;
      color: var(--color-gray);
      margin-top: 10px;
}

/* .features-list-img {} */

/* -------------------Work------------------- */

.work {
      display: flex;
      justify-content: center;
}

.work-list-title {
      font-size: var(--small-text);
      line-height: 1.14;
      
}

.work-list {
      
      
      gap: var(--gaps);
      margin-top: 50px;
      margin-bottom: var(--top-distance);
}
/* .work-text {
      font-size: var(--small-text);
      line-height: 1.71;
      color: var(--color-gray);
} */

/*--------------------Team---------------------*/

.team {
      background-color: #F5F4FA;
      height: 648px;
      padding-top: var(--top-distance);
      display: flex;
      justify-content: center;
}

.team-container {
      margin-right: 0;
}

/* .team-title {} */

.team-list {
      column-gap: var(--gaps);
      margin-top: 50px;

}

.team-cards {
      background-color: var(--color-white);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      width: 270px;
      
}

/* .team-members {} */

.team-member-about {
      padding: var(--gaps) 62px;
}

.team-names {
      font-weight: 500;
      font-size: var(--medium-text);
      line-height: 1.18;
      text-align: center;
}

.team-text {
      font-size: var(--medium-text);
      line-height: 1.18;
      color: var(--color-gray);
      text-align: center;
      margin-top: 10px;
}

/*-------------------------PORTFOLIO--------------------------*/

.portfolio {
      background-color: var(--color-white);
      /* padding: 94px 0; */
      display: flex;
      justify-content: center;
}

.container-portfolio {
      /* display: flex; */
      padding: var(--top-distance) 0;
}

.filters-list {
      display: flex;
      justify-content: center;
      column-gap: 8px;
      margin-bottom: 50px;
}

.filters-btn {
      background-color: #F5F4FA;
      font-weight: 500;
      font-size: var(--medium-text);
      line-height: 1.62;
      color: var(--color-onix);
      min-width: 73px;
      height: fit-content;
      padding: 6px 22px;
      
}

.project-list {
      
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--gaps);
}

.project {
      background: var(--color-white);
      border-bottom: 1px solid #EEEEEE;
      width: 370px
}

.project-about {
      padding: 20px 24px;
}

.project-title {
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--color-onix);
}

.project-text {
      font-size: var(--medium-text);
      line-height: 1.88;
      color: var(--color-gray);
      margin-top: 4px;
}
