:root {
      --zeema-blue:#2196f3;
      --dark-theme:#2F303A;
      --color-white: #FFFFFF;
      --color-gray: #757575;
      --color-onix: #212121;
      --medium-text: 16px;
}

body {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      letter-spacing: 0.03em;
      color: var(--color-onix);
      background-color: var(--color-white);
}

/* ---------------General-styles-----------------*/

.list {
      list-style: none;
}

.link {
      text-decoration: none;
}

.logo {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      color: #000000;
}

.logo .logo-accent {
      color: var(--zeema-blue);
}

.logo.logo-last {
      color: var(--color-white);
}

.section-title {
      font-size: 36px;
      line-height: 1.66;
}

.btn {
      font-family: inherit;
      border-radius: 4px;
}

.btn:hover, .btn:focus {
      color: var(--color-white);
      background-color: var(--zeema-blue);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
}

.link.menu-link.current {
      color: var(--zeema-blue)
}

/*---------------Menu-----------------*/

/* .menu {} */

/* .menu-nav {} */

.menu-link {
      font-weight: 500;
      font-size: var(--small-text);
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: inherit;
}

.menu-link:hover, .menu-link:focus {
      color:var(--zeema-blue);
}

.contacts-link {
      font-weight: 500;
      font-size: var(--small-text);
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--color-gray);
}

.contacts-link:hover, .contacts-link:focus {
      color: var(--zeema-blue);
}

/*-------------Contacts---------------*/

.contacts {
      background-color: var(--dark-theme);
}

/* .adress {} */

.adress-map {
      font-style: normal;
      color: var(--color-white);
      line-height: 1.71;
}

.adress-link {
      font-style: normal;
      line-height: 1.71;
      color: rgba(255, 255, 255, 0.6);
}
.adress-link:hover, .adress-link:focus {
      color: var(--zeema-blue);
}

/* ----------------------------HOME---------------------------*/

.hero {
      background-color: var(--dark-theme);
}

.hero-title {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      color: var(--color-white);
}

.hero-btn {
      font-weight: 700;
      font-size: var(--medium-text);
      line-height: 1.88;
      letter-spacing: 0.06em;
      background-color: var(--zeema-blue);
      color: var(--color-white);
}

/* -------------------work--------------------*/

.work-list-title {
      font-size: var(--small-text);
      line-height: 1.14;
}

.work-text {
      font-size: var(--small-text);
      line-height: 1.71;
      color: var(--color-gray);
}

/* -------------------features-------------------- */

/* .features {} */

.features-list-title {
      text-transform: uppercase;
      line-height: 1.14;
}

.features-list-text  {
      line-height: 1.71;
      color: var(--color-gray);
}

/* .features-list-img {} */

/*--------------------Team---------------------*/

.team {
      background-color: #F5F4FA;
}

/* .team-list {} */

.team-photos {
      background-color: var(--color-white);
}

/* .team-members {} */

.team-names {
      font-weight: 500;
      font-size: var(--medium-text);
      line-height: 1.18;
}

.team-text {
      font-size: var(--medium-text);
      line-height: 1.18;
      color: var(--color-gray);
}

/*-------------------------PORTFOLIO--------------------------*/

.portfolio {
      background-color: #F5F5F5;
}

/* .tabs {} */

/* .filters-itm {} */

.filters-btn {
      background-color: #F5F4FA;
      font-weight: 500;
      font-size: var(--medium-text);
      line-height: 1.62;
      color: var(--color-onix);
}

/* .project-list {} */

.project {
      background: var(--color-white);
      border: 1px solid #EEEEEE;
}

/* .projs-img {} */

.project-title {
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--color-onix);
}

.project-text {
      font-size: var(--medium-text);
      line-height: 1.88;
      color: var(--color-gray);
}
